apiVersion: kubeadm.k8s.io/v1beta1
kind: ClusterConfiguration
kubernetesVersion: {{ kubernetes_version }}
networking:
  dnsDomain: "{{ service_dns_domain }}"
  podSubnet: "10.244.0.0/16" 
controlPlaneEndpoint: "{{ ansible_host }}:6443" 
clusterName: "{{ cluster_name }}"
api:
  advertiseAddress: "{{ ansible_host }}"
apiServer:
  certSANs:
{% for host in groups['kube_master'] %}
    - {{ hostvars[host].ansible_host }}
    - {{ hostvars[host].inventory_hostname }}
{% endfor %}
tokenTTL: "1h"